@import 'tailwindcss';

@theme {
  /* Colors */
  --color-light-blue: #4a90e2;
  --color-background-gray: #333333;
  --color-background-gray-medium: #383838;
  --color-background-gray-light: #3d3d3d;
  --color-brown: #8B4513;

  /* Breakpoints */
  --breakpoint-xs: 27rem;
}
